header{
    background-color:  #ffb6c1;
    color: white;
}
.about{
    text-align: center;
    margin-top: 2%;
}
body{
    background-color:  #fdcdd4;
}
form{
    margin: 5%;
}
footer{
    text-align: center;
    padding: 2%;
    color: rgb(0, 0, 0);
    background-color: #ffb6c1;
}
.carousel {
    max-width: 600px;
    padding-top: 30px;
    margin: auto;
}
.carousel-item img {
    max-height: 400px;
    width: auto;
    margin: auto;
}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.table{
    display: flex;
    justify-content: start;
    padding: 1%;
}
.table ul{
    list-style: none;
    padding: 0;
}